<div class="container">

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label id="labelTranslationInput" for="translationInput">Wklej tekst do przetłumaczenia</label>
        <textarea class="form-control" id="translationInput" rows="5" [(ngModel)]="tresc"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label id="labelLanguageInput" for="languageInput">Wprowadź język</label>
        <input type="text" class="form-control" id="languageInput"  [(ngModel)]="jezyk" placeholder="np. en, pl">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn btn-success mt-3" (click)="wyslij()">Działaj</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <code>
        {{wynik}}
      </code>
    </div>
  </div>
</div>